{% extends 'layout/layout1.twig' %}

{% import 'application/macros/profile-forms.twig' as _forms %}

{% block content %}
{# include  'csn-user/layout/nav-menu' with { 'navMenu' : navMenu, 'user' : identity()} #}
<section class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="profile profile-edit">
					<div class="profile-header ">
						<div class="profile-photo">
							<img src="img/photo.jpg" alt="">
						</div>
						<div class="profile-header-info">
							{{ form().openTag(form) | raw }}

								{{ _forms._wrappedInput(form.get('firstName')) }}
								{{ _forms._wrappedInput(form.get('lastName')) }}
								{{ _forms._wrappedInput(form.get('phone1')) }}
								{{ _forms._wrappedInput(form.get('phone2')) }}
								{{ _forms._wrappedInput(form.get('skype')) }}
								{{ _forms._wrappedInput(form.get('facebookUrl')) }}
								{{ _forms._wrappedInput(form.get('twitterUrl')) }}
								{{ _forms._wrappedInput(form.get('linkedInUrl')) }}
								{{ _forms._wrappedInput(form.get('csrf')) }}
								{{ _forms._wrappedInput(form.get('submit')) }}

							</form>
						</div>
					</div>
					<ul class="nav nav-tabs profile-tabs">
					 	<li><a href="#personal" data-toggle="tab">Особиста інформація</a></li>
						<li class="active"><a href="#professional" data-toggle="tab">Професійна інформація</a></li>
						<li><a href="#projects" data-toggle="tab">Проекти</a></li>
					</ul>

					<div class="tab-content profile-tabs-content">
						<div class="tab-pane" id="personal">
							<div class="tab-pane active" id="personal">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="profile-title" for="">Cпеціальність</label>
										<input type="text" class="form-control" placeholder="">
									</div>
									<div class="form-group">
										<label class="profile-title" for="">Cтаж роботи</label>
										<select name="" id="">
											<option value="">менше року</option>
											<option value="">більше року </option>
											<option value="">більше трьох років</option>
											<option value="">більше п'яти років</option>
											<option value="">більше 10 років</option>
										</select>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label class="profile-title" for="">Дата народження</label>
										<input type="text" class="form-control" placeholder="">
									</div>
									<div class="form-group">
										<label class="profile-title" for="">Місцезнаходження</label>
										<input type="text" class="form-control" placeholder="">
									</div>
								</div>
							</div>
							<dl class="profile-info">
								<dt class="profile-title">Професійні навики </dt>
								<dd class="profile-tags">
									<span>копірайтинг</span>
									<span>одностранічнікі</span>
									<span>pr-тексти</span>
									<span>Комерційна пропозиція</span>
									<span>ведення груп в соц.мережах</span>
								</dd>
							</dl>

							<div class="profile-text">
								<p>
									Оказываю услуги по бизнес-анализу и документированию программного обеспечения (настольных, мобильных и веб-приложений), прототипированию пользовательских интерфейсов, тестированию программного обеспечению, разработке веб-сайтов на платформах WordPress и Moodle, а также разработке учебных курсов.
								</p>
							</div>
						</div>
							<form role="form form-horizontal">

								<div class="form-group">
									<input type="text" class="form-control" placeholder="Місцезнаходження">
								</div>
								<div class="form-group">
									<textarea name="" id="" cols="30" rows="10"  class="form-control" placeholder="Про себе"></textarea>
								</div>
							</form>
						</div>
						<div class="tab-pane active" id="professional">
							<form role="form form-horizontal">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Cпеціальність">
								</div>
								<div class="form-group">
									<label for="">Cтаж роботи:</label>

								</div>
								<div class="form-group">
									<label for="">Професійні навики:</label>
									<input type="text" class="form-control" data-role="tagsinput" value="Word">
								</div>
								<div class="form-group">
									<textarea name="" id="" cols="30" rows="10"  class="form-control" placeholder="Додаткова інформація"></textarea>
								</div>
							</form>
						</div>
						<div class="tab-pane" id="projects">
							<a href="" class="icon-edit"><i class="icon-square icon-gray fi-pencil"></i></a>
							<h3 class="profile-title"><a href="">MediaPlazm</a></h3>
							<dl>
								<dt class="profile-title profile-title-left">Роль:</dt>
								<dd class="profile-text">учасник</dd>
								<dt class="profile-title profile-title-left">Дати роботи:</dt>
								<dd class="profile-text">7.06.2014 - 15.11.2014</dd>
								<dt class="profile-title">Відгук:</dt>
								<dd class="profile-text">Дуже задоволений роботою Кості. Завжди креативно підійде до вирішення завдання і підкаже як краще зробити;) Рекомендую!</dd>
							</dl>
							<h3 class="profile-title"><a href="">MediaPlazm 2</a></h3>
							<dl>
								<dt class="profile-title profile-title-left">Роль:</dt>
								<dd class="profile-text">учасник</dd>
								<dt class="profile-title profile-title-left">Дати роботи:</dt>
								<dd class="profile-text">7.06.2014 - 15.11.2014</dd>
								<dt class="profile-title">Відгук:</dt>
								<dd class="profile-text">Дуже задоволений роботою Кості. Завжди креативно підійде до вирішення завдання і підкаже як краще зробити;) Рекомендую!</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<img src="img/banner.jpg" alt="">
			</div>
		</div>
	</div>
</section>


{% endblock content %}