{% extends 'layout/layout1.twig' %}

{% import 'application/macros/profile-forms.twig' as _forms %}

{% block content %}
<section class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="profile profile-edit">
					<div class="profile-header ">
						{{ form().openTag(uploadForm) | raw }}
							{% include 'csn-user/bits/profile/photo' with {  'picture' : user.picture, 'user_id' : user.id}%}


							<div class="btn btn-primary btn-xs photo-btn">завантажити{{ formElement(uploadForm.get('picture') )|raw }}</div>
							{{ formElement(uploadForm.get('csrf'))| raw }}
							{{ formRow(uploadForm.get('MAX_FILE_SIZE'))| raw }}
						{{ form().closeTag(uploadForm) | raw}}

						{{ _forms._wrappedInput(form.get('csrf')) }}
						<div class="profile-header-info">
							{{ _forms._wrappedInput(form.get('firstName')) }}
							{{ _forms._wrappedInput(form.get('lastName')) }}
						</div>
						<a href="/user/profile" class="change-profile"><i class="icon-square btn-success fi-ok"></i></a>
					</div>
					<ul class="nav nav-tabs profile-tabs">
					 	<li class="active"><a href="#personal" data-toggle="tab">Особиста інформація</a></li>
						<li><a href="#projects" data-toggle="tab">Проекти</a></li>
						<li><a href="#contacts" data-toggle="tab">Контакты</a></li>
					</ul>

					<div class="tab-content profile-tabs-content">
						<div class="tab-pane active" id="personal">
							<div class="row">
								<div class="col-md-6">
									{{ _forms._wrappedInput(form.get('qualification')) }}
									{{ _forms._wrappedInput(form.get('workExperience')) }}
								</div>

								<div class="col-md-6">
									{{ _forms._wrappedInput(form.get('location')) }}
									{{ _forms._wrappedInput(form.get('birthDay')) }}
								</div>
							</div>
							{{ _forms._wrappedInput(form.get('userTags')) }}
							{{ _forms._wrappedInput(form.get('resume')) }}
						</div>
						<div class="tab-pane" id="projects">

						</div>
						<div class="tab-pane" id="contacts">
							{{ _forms._wrappedInput(form.get('phone1')) }}
							{{ _forms._wrappedInput(form.get('phone2')) }}
							{{ _forms._wrappedInput(form.get('skype')) }}
							{{ _forms._wrappedInput(form.get('facebookUrl')) }}
							{{ _forms._wrappedInput(form.get('twitterUrl')) }}
							{{ _forms._wrappedInput(form.get('linkedInUrl')) }}

						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<img src="/img/banner.jpg" alt="">
			</div>
		</div>
	</div>
</section>


{% endblock content %}