{% if navMenu  %}
	{% if user %}
		<a href="{{ url('user-index') }}" class="btn btn-success">
			{{ translate('User Home') }}
		</a>
		<a href="{{ url('user-register', {'action' : 'edit-profile'}) }}" class="btn btn-success">
			{{ translate('Edit Profile') }}
		</a> 
		<a href="{{ url('user-index', {'action' : 'logout'}) }}" class="btn btn-success">
			{{ translate('Log Out') }}
		</a>
	  {% else %}
		<a href="{{ url('user-index', {'action' : 'login'}) }}" class="btn btn-success">
		{{ translate('Log in') }}
		</a>
		<a href="{{ url('user-register') }}" class="btn btn-success">
			{{ translate('Sign Up') }}
		</a>
		<a href="{{ url('user-register', {'action' : 'reset-password'}) }}" class="btn btn-success">
			{{ translate('Reset Password') }}
		</a>
	{% endif %}
{% endif %}
<hr />
