{% extends 'layout/layout' %}

{% block content %}


<div class="jumbotron">
   <h2>{{ translate('New User') }}</h2>
    <div class="container" id="wrap">
	  <div class="row">
        <div class="col-md-6 col-md-offset-3">
          {{ form().openTag(form) | raw }}
				{{ formElement(form.get('username'))| raw }}
				{{ formElementErrors(form.get('username'))| raw }}
            <div class="row">
              <div class="col-xs-6 col-md-6">
				{{ formElement(form.get('first_name'))| raw }}
				{{ formElementErrors(form.get('first_name'))| raw }}
              </div>
              <div class="col-xs-6 col-md-6">
				{{ formElement(form.get('last_name'))| raw }}
				{{ formElementErrors(form.get('last_name'))| raw }}
              </div>
            </div>
				{{ formElement(form.get('email'))| raw }}
				{{ formElementErrors(form.get('email'))| raw }}
            <div class="row">
              <div class="col-xs-6 col-md-6">
				{{ formElement(form.get('password'))| raw }}
				{{ formElementErrors(form.get('password'))| raw }}
              </div>
              <div class="col-xs-6 col-md-6">
				{{ formElement(form.get('password_verify'))| raw }}
				{{ formElementErrors(form.get('password_verify'))| raw }}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-md-6">
				{{ formElement(form.get('role'))| raw }}
				{{ formElementErrors(form.get('role'))| raw }}
              </div>
              <div class="col-xs-6 col-md-6">
				{{ formElement(form.get('state'))| raw }}
				{{ formElementErrors(form.get('state'))| raw }}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-6">
				{{ formElement(form.get('question'))| raw }}
				{{ formElementErrors(form.get('question'))| raw }}
              </div>
              <div class="col-xs-6 col-md-6">
				{{ formElement(form.get('answer'))| raw }}
				{{ formElementErrors(form.get('answer'))| raw }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
				  {{ formElement(form.get('location'))| raw }}
				{{ formElementErrors(form.get('location'))| raw }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
				{{ formElement(form.get('resume'))| raw }}
				{{ formElementErrors(form.get('resume'))| raw }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                {{ formRow(form.get('submit'))| raw }}
              </div>
            </div>
				{{ formElement(form.get('csrf'))| raw }}
				{{ form().closeTag(form) | raw}}
        </div>
      </div>
    </div>
</div>


{% endblock %}
