{% extends 'layout/layout1.twig' %}

{% block content %}
<section class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="profile">
					<div class="profile-header ">
						{% include 'csn-user/bits/profile/photo' with {
							'picture' : user.picture,
							'custom_class' : user.employment.profileClass,
							'user_id' : user.id
							 }%}

						{% include 'csn-user/bits/profile/status-dropdown'%}

						<div class="profile-header-info">
							<h1><span>{{ user.firstName}}</span>
								<span>{{ user.lastName}}</span>
								<small>{{ user.qualification}}</small>
							</h1>
						</div>


						<div class="profile-header-contacts">
							<a {% if user.FacebookUrl %}href="{{user.FacebookUrl}}" class="contacts-item"
							{% else %} class="contacts-item contacts-item-disabled"
							{% endif %}><i class="icon-circle icon-main-color-in fi-facebook"></i></a>
							<a {% if user.TwitterUrl %}href="{{user.TwitterUrl}}" class="contacts-item"
							{% else %} class="contacts-item contacts-item-disabled"
							{% endif %}><i class="icon-circle icon-main-color-in fi-twitter"></i></a>
							<a {% if user.LinkedInUrl %}href="{{user.LinkedInUrl}}" class="contacts-item"
							{% else %} class="contacts-item contacts-item-disabled"
							{% endif %}><i class="icon-circle icon-main-color-in fi-linkedin"></i></a>
							<a {% if user.email %}href="mailto:{{user.email}}" class="contacts-item"
							{% else %} class="contacts-item contacts-item-disabled"
							{% endif %}><i class="icon-circle icon-main-color-in fi-mail"></i></a>

							{% if user.phone1 %}<div class="profile-header-phone"><i class="fi-phone"></i>{{ user.phone1 }}</div>{% endif %}
							{% if user.phone2 %}<div class="profile-header-phone"><i class="fi-phone"></i>{{ user.phone2 }}</div>{% endif %}
							{% if user.skype %}<div class="profile-header-skype"><i class="fi-skype"></i>{{user.skype}}</div>{% endif %}
						</div>
						<a href="{{ url('user-register', {'action': 'edit-profile'})}}" class="change-profile"><i class="icon-square icon-gray fi-pencil"></i></a>
					</div>
					<ul class="nav nav-tabs profile-tabs">
					 	<li class="active"><a href="#personal"  data-toggle="tab">Особиста інформація</a></li>
						<li><a href="#projects" data-toggle="tab">Проекти</a></li>
					</ul>

					<div class="tab-content profile-tabs-content">
						<div class="tab-pane active" id="personal">
							<div class="row">
								<div class="col-md-6">
									<dl class="profile-info">
										<dt class="profile-title profile-title-left">Cпеціальність:</dt>
										<dd class="profile-text">{{ user.qualification }}</dd>
										<dt class="profile-title profile-title-left">Cтаж роботи:</dt>
										<dd class="profile-text">{{ user.workExperience.Experience }}</dd>
									</dl>
								</div>
								<div class="col-md-6">
									<dl class="profile-info">
										<dt class="profile-title profile-title-left">Місцезнаходження:</dt>
										<dd class="profile-text">{{ user.privateInfo.location}}</dd>
										<dt class="profile-title profile-title-left">Дата народження:</dt>
										<dd class="profile-text">{{ user.privateInfo.birthDay|date("d.m.Y") }} / {{ "now"|date("Y") - user.privateInfo.birthDay|date("Y") }} років</dd>
									</dl>
								</div>
							</div>
							{% if user.tags|length > 0 %}
								<dl class="profile-info">
									<dt class="profile-title">Професійні навики: </dt>
									<dd class="skill-tags">
										{% for tag in user.tags %}
											<span>{{ tag.tag }}</span>
										{% endfor %}
									</dd>
								</dl>

                                <input type="text" class="skills-typehead-together" value="
                                {% for tag in user.tags %}
                                    {{ tag.tag|escape }},
                                {% endfor %}
                                " placeholder="Add skills" />


                            {% endif %}
							{% if user.privateInfo  %}
								<div class="profile-text">
									{{ user.privateInfo.resume|raw}}
								</div>
							{% endif %}

						</div>
						{% if user.offers %}
						<div class="tab-pane " id="projects">
							{% for offer in user.offers %}
								<div class="profile-info profile-info_project">
									<h3 class="profile-title"><a href="{{ offer.project.url }}">{{ offer.project.header }}</a><span class="profile-role">{{ offer.role }}</span></h3>
									<p class="profile-text profile-date">{{ offer.startDate|date("d.m.Y") }} - {{ offer.finishDate|date("d.m.Y") }}</p>
									<p class="profile-text">{{ offer.resume }}</p>
									<p class="skill-tags  skill-tags_gray">
										{% for tag in offer.tags %}
											<span>{{ tag.tag }}</span>
										{% endfor %}
									</p>
								</div>
							{% endfor %}
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<img src="/img/banner.jpg" alt="">
			</div>
		</div>
	</div>
</section>

{% endblock content %}