{% extends 'layout/layout1.twig' %}

{% block content %}
<section class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="profile">
					<div class="profile-header ">
						<div class="profile-photo profile-photo-available">
							<img src="/img/photo.jpg" alt="">
						</div>
						<div class="btn-group profile-status">
							<button class="btn {{ user.employment.class}} btn-xs profile-status-btn dropdown-toggle" type="button" data-toggle="dropdown">
								{{ user.employment.employment}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								{% for employment in employments %}
									{% if employment.employment != user.employment.employment %}
										<li class="{{ employment.class}}">{{employment.employment}}</li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
						<div class="profile-header-info">
							<h1><span>{{ user.firstName}}</span>
								<span>{{ user.lastName}}</span>
								<small>{{ user.qualification}}</small>
							</h1>
						</div>


						<div class="profile-header-contacts">
							{% if user.contactInfo.FacebookUrl %}<a href="{{user.contactInfo.FacebookUrl}}" class="contacts-item"><i class="icon-circle icon-main-color-in fi-facebook"></i></a>{% endif %}
							{% if user.contactInfo.TwitterUrl %}<a href="{{user.contactInfo.TwitterUrl}}" class="contacts-item"><i class="icon-circle icon-main-color-in icon-disabled-in fi-twitter"></i></a>{% endif %}
							{% if user.contactInfo.LinkedInUrl %}<a href="{{user.contactInfo.LinkedInUrl}}" class="contacts-item"><i class="icon-circle icon-main-color-in fi-linkedin"></i></a>{% endif %}
							{% if user.contactInfo.email %}<a href="mailto:{{user.contactInfo.email}}" class="contacts-item"><i class="icon-circle icon-main-color-in fi-mail"></i></a>{% endif %}
							{% if user.contactInfo.phone %}<div class="profile-header-phone"><i class="fi-phone"></i>{{ user.contactInfo.phone }}</div>{% endif %}
							{% if user.contactInfo.skype %}<div class="profile-header-skype"><i class="fi-skype"></i>{{user.contactInfo.skype}}</div>{% endif %}
						</div>
						<a href="" class="icon-edit"><i class="icon-square icon-gray fi-pencil"></i></a>
					</div>
					<ul class="nav nav-tabs profile-tabs">
					 	{% if user.privateInfo or user.contactInfo %}<li ><a href="#personal"  data-toggle="tab">Особиста інформація</a></li>{% endif %}
						<li class="active"><a href="#professional" data-toggle="tab">Професійна інформація</a></li>
						<li><a href="#projects" data-toggle="tab">Проекти</a></li>
					</ul>

					<div class="tab-content profile-tabs-content">
						{% if user.privateInfo or user.contactInfo %}
							<div class="tab-pane " id="personal">
								<a href="" class="icon-edit"><i class="icon-square icon-gray fi-pencil"></i></a>
								{% if user.privateInfo  %}
									<dl class="profile-info">
										<dt class="profile-title profile-title-left">Дата народження:</dt>
										<dd class="profile-text">{{ user.privateInfo.birthDay|date("Y-m-d") }}</dd>
										<dt class="profile-title profile-title-left">Місцезнаходження:</dt>
										<dd class="profile-text">{{ user.privateInfo.location}}</dd>
									</dl>
									<div class="profile-text">
										{{ user.privateInfo.resume|raw}}
									</div>
								{% endif %}
								<h3 class="profile-title">Контакти</h3>
								{% if user.contactInfo%}
									<dl class="profile-info">
										<dt class="profile-title profile-title-left">E-mail:</dt>
										<dd class="profile-text"><a href="mailto:{{user.contactInfo.email}}">{{user.contactInfo.email}}</a></dd>
										<dt class="profile-title profile-title-left">Skype:</dt>
										<dd class="profile-text">{{user.contactInfo.skype}}</dd>
										<dt class="profile-title profile-title-left">Телефон:</dt>
										<dd class="profile-text">{{user.contactInfo.phone}}</dd>
										<dt class="profile-title profile-title-left">Facebook:</dt>
										<dd class="profile-text"><a href="{{user.contactInfo.FacebookUrl}}">{{user.contactInfo.FacebookUrl}}</a></dd>
										<dt class="profile-title profile-title-left">Twitter:</dt>
										<dd class="profile-text"><a href="{{user.contactInfo.TwitterUrl}}">{{user.contactInfo.TwitterUrl}}</a></dd>
									</dl>
								{% endif %}
							</div>
						{% endif %}
						<div class="tab-pane " id="professional">
							<a href="" class="icon-edit"><i class="icon-square icon-gray fi-pencil"></i></a>
							<dl class="profile-info">
								<dt class="profile-title profile-title-left">Cпеціальність:</dt>
								<dd class="profile-text">{{ user.qualification }}</dd>
								<dt class="profile-title profile-title-left">Cтаж роботи:</dt>
								<dd class="profile-text">5 років</dd>
							</dl>
							{% if user.tags|length > 0 %}
								<dl class="profile-info">
									<dt class="profile-title">Професійні навики: </dt>
									<dd class="profile-tags">
										{% for tag in user.tags %}
											<span>{{ tag.tag }}</span>
										{% endfor %}
									</dd>
								</dl>
							{% endif %}
							<div class="profile-text">
								<p>
									Оказываю услуги по бизнес-анализу и документированию программного обеспечения (настольных, мобильных и веб-приложений), прототипированию пользовательских интерфейсов, тестированию программного обеспечению, разработке веб-сайтов на платформах WordPress и Moodle, а также разработке учебных курсов.
								</p>
							</div>
						</div>
						<div class="tab-pane active" id="projects">
							<a href="" class="icon-edit"><i class="icon-square icon-gray fi-pencil"></i></a>
							<h3 class="profile-title"><a href="">MediaPlazm</a></h3>
							<dl>
								<dt class="profile-title profile-title-left">Роль:</dt>
								<dd class="profile-text">учасник</dd>
								<dt class="profile-title profile-title-left">Дати роботи:</dt>
								<dd class="profile-text">7.06.2014 - 15.11.2014</dd>
								<dt class="profile-title">Відгук:</dt>
								<dd class="profile-text">Дуже задоволений роботою Кості. Завжди креативно підійде до вирішення завдання і підкаже як краще зробити;) Рекомендую!</dd>
							</dl>
							<h3 class="profile-title"><a href="">MediaPlazm 2</a></h3>
							<dl>
								<dt class="profile-title profile-title-left">Роль:</dt>
								<dd class="profile-text">учасник</dd>
								<dt class="profile-title profile-title-left">Дати роботи:</dt>
								<dd class="profile-text">7.06.2014 - 15.11.2014</dd>
								<dt class="profile-title">Відгук:</dt>
								<dd class="profile-text">Дуже задоволений роботою Кості. Завжди креативно підійде до вирішення завдання і підкаже як краще зробити;) Рекомендую!</dd>
							</dl>

							{% for offer in user.offers %}
								<span>{{ offer.resume }}</span>
								<p>{{ offer.project.header }}</p>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<img src="/img/banner.jpg" alt="">
			</div>
		</div>
	</div>
</section>

{% endblock content %}