{% extends 'layout/layout1.twig' %}

{% block content %}
<section class="main promo-page">
	<div class="container">
			<div class="row">
			{% if identity is empty %}
				<div class="col-md-6">
					<div class="panel block-main-color panel-login">
						{% for message in messages %}
						<div class="alert alert-warning">{{ message | raw}}</div>
						{% endfor %}
						<div class="alert alert-warning">{{ error | raw}}</div>
						<ul class="nav nav-tabs login-tabs">
							<li class="active"><a href="#authorization" data-toggle="tab">{{ translate('Authorization') }}</a></li>
							<li><a href="#registration" data-toggle="tab">{{ translate('Registration')| raw }}</a></li>
						</ul>
						<div class="tab-content login-tabs-content">
							<div class="tab-pane login-auth active" id="authorization">
								{% include 'application/index/forms/login' %}
							</div>
							<div class="tab-pane login-reg" id="registration">
								{% include 'application/index/forms/registration' %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h1 class= "headings-top-0">Що таке <br>біржа волонтерів</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo quis est et malesuada. Donec mauris orci, posuere ut posuere sed, laoreet feugiat magna. </p>
					<p>Quisque eros mi, lobortis ut massa nec, volutpat sollicitudin ante. Suspendisse vulputate rhoncus dui id dapibus. Vivamus cursus ornare ante. Donec dictum a urna id lobortis. Vivamus leo quam, convallis ac eros et, lacinia sollicitudin nulla. Nullam malesuada euismod molestie. Integer in mattis tellus. Vestibulum eget mi eget ante euismod dignissim.</p>
				</div>
			{% else %}
					<h2>{{ translate( 'Last projects') }}</h2>
				{% include 'application/projects/list_block' with {'projects' : lastProjects} %}
			{% endif %}
			</div>

	</div>
</section>

{% endblock content %}